<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Ceebeetle.CeebeetleImpl">
        <endpoint address="CeebeetlePeer" binding="netPeerTcpBinding" bindingConfiguration="unsecureBinding" contract="Ceebeetle.ICeebeetlePeer">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress = "net.p2p://ceebeetleclient" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netPeerTcpBinding>
        <binding name="unsecureBinding">
          <security mode="None"/>
          <resolver mode="Pnrp"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.DefaultTraceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
